**/__pycache__
.claude
**/.DS_Store
Backup
envs
face_recognition_sface
Emo Models
Persons_Faces
Persons_Faces_G8/
Persons_Temp_G8/
Persons_Faces_90st
Persons_Temp_90st/
simple_predictions_old_10.135/
simple_predictions
Try
deepface_env.yml
best_model.pth
Dockerfile
finalized_model.sav
Power Bi.pbix
Trial for csv creation.rar
Trial for csv creation
tests/dataset/*.pkl
tests/*.ipynb
tests/*.csv
build/
dist/
.mypy_cache/
.idea/
*.pyc
**/.coverage
**/.coverage.*
.pylintrc

Quality Assessment/insightface/model/insightface-0000.params
Quality Assessment/CR-FIQAL/181952backbone.pth