**/__pycache__
.claude
**/.DS_Store
Backup
envs
face_recognition_sface
Emo Models
Persons_Faces
simple_predictions
Try
deepface_env.yml
best_model.pth
Dockerfile
finalized_model.sav
Power Bi.pbix
Trial for csv creation.rar
Trial for csv creation
tests/dataset/*.pkl
tests/*.ipynb
tests/*.csv
build/
dist/
.mypy_cache/
.idea/
*.pyc
**/.coverage
**/.coverage.*

